<div class="flex flex-col h-full text-sm text-gray-300  w-full">
  <!-- pin section:START -->
  <app-pinned></app-pinned>
  <!-- smart list section -->
  <app-smart-view></app-smart-view>
  <!-- List Section -->
  <app-list></app-list>
  <!-- tags section -->
  <app-tags></app-tags>
  <!-- Footer -->
  <div class="px-3 pb-3 border-t border-gray-800 pt-3 mt-auto">
    <ul class="space-y-1 flex flex-col">
      <li
        class="flex items-center gap-3 hover:bg-[#1c1c1f] py-3 px-4 rounded-xl cursor-pointer"
        [routerLink]="['completed', 'index']"
      >
        <i class="pi pi-check-circle text-base"></i>
        <span>Completed</span>
      </li>
      <li
        class="flex items-center gap-3 hover:bg-[#1c1c1f] py-3 px-4 rounded-xl cursor-pointer"
        [routerLink]="'trashed'"
      >
        <i class="pi pi-trash text-base"></i>
        <span>Trash</span>
      </li>
    </ul>
  </div>
</div>