<div class="h-screen overflow-hidden">
  <p-splitter class="h-full">
    <ng-template #panel>
      <div class="flex flex-col w-full h-full px-6 py-4 overflow-y-auto">

        <div class="mb-5">
          <app-context-header
            [routeData]="routeData"
            (sortGroupChange)="sortEventHandler($event)">
          </app-context-header>
        </div>

        <div class="mb-4">
          <app-task-input [project]="entityData()"></app-task-input>
        </div>

        <div class="flex-1">
          <app-task-list
            [routeData]="routeData"
            [sortGroupData]="sortGroupData()">
          </app-task-list>
        </div>

      </div>
    </ng-template>
    <ng-template #panel>
      <div class="h-full overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </p-splitter>
</div>