<div class="h-screen overflow-hidden">
  <p-confirmDialog [style]="{ width: '25rem' }" />
  <p-splitter class="h-full">
    <ng-template #panel>
      <div class="flex flex-col w-full h-full px-6 py-4 overflow-y-auto">
        <div class="flex items-center justify-between gap-2 px-5">
          <h2 class="font-bold">Trash</h2>
          <i class="pi pi-eraser" (click)="showDialog()"></i>
        </div>

        <div class="flex-1">
          <app-task-list
            [routeData]="routeData"
            [sortGroupData]=""
          ></app-task-list>
        </div>
      </div>
    </ng-template>
    <ng-template #panel>
      <div class="h-full overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </p-splitter>
</div>
