<div [class]="cardClass()">
  <div class=" h-full flex">
    <!-- Left: List Panel -->
    @if (!uiState.isListPanelCollapsed()) {
      <div class="flex justify-center h-full p-2 overflow-y-auto">
          <app-list-action class="w-full"></app-list-action>
      </div>
    }

    <!-- Right: Splitter wraps only the routed content -->
    <p-splitter
      [panelSizes]="panelSizes()"
      [minSizes]="minSizes()"
      styleClass="h-full"
      class="flex-1 h-full"
    >
      <ng-template pTemplate="panel">
        <div class="h-full overflow-hidden">
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>