<div class="card h-screen">
  <p-splitter 
    [panelSizes]="[25, 75]" 
    [minSizes]="[15, 50]"
    styleClass="h-full"
    class="w-full h-full"
  >
    <ng-template pTemplate="panel">
      <div class="flex justify-center h-full p-2 overflow-y-auto">
        <app-list-action class="w-full"></app-list-action>
      </div>
    </ng-template>

    <ng-template pTemplate="panel">
      <div class="h-full overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </p-splitter>
</div>